/*

以下テーブル

*/
table , td, th {
	color: white;
	border: 1px solid #dddddd;
	border-collapse: collapse;
	font-size: 130%;
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	/*background-color: white;*/
}
td, th {
	padding: 3px;
	height: 50px;
	width : 33.33333% ; /* 未対応ブラウザ用フォールバック */
  	width : -webkit-calc(100% / 3) ;
  	width : calc(100% / 3) ;
}
tr.top{
	font-weight: bolder;
	font-size: 110%;
}
/*.time{
	font-weight: bolder;
	display: inline-block;
	white-space:nowrap;
}*/
tr td:nth-of-type(1) {
	white-space: nowrap;
}
.stage{
	white-space:nowrap;
}
.ground{
	width: 25%;
}
.gym{
	width: 25%;
}
