/***********************

テーブル CSS
（晴天時の上書き用ver）


************************/
td, th {
	width : 25% ; /* 未対応ブラウザ用フォールバック */
  	width : -webkit-calc(100% / 4) ;
  	width : calc(100% / 4) ;
}
